.backBtn , .resetBtn , .next-finish-Btn{
    width: 120px;
    height: 40px;
    border-radius: 44px;
    // border-style: solid;
    // border-width: 5px;
    // border-image-source: linear-gradient(to right, #9c9c9c54 0%, var(--faded-orange-10) 100%);
    background-image: linear-gradient(to left, #ed865d, #f197bd );
    // background-origin: border-box;
    // background-clip: content-box, border-box;
    font-family: Yekan !important;
    font-size: 16px !important;
    margin-bottom: 80px !important;
    margin-top: 45px !important;
    outline: none !important;
    color:  white;
}


.MuiStepLabel-root{
    max-width: 60vw !important;
}

.MuiStepLabel-root circle{
    margin: 0px 30px !important;
}

.MuiStep-root{
    padding: 0px !important;
    margin: 0px 10px !important;
}

.MuiStepIcon-root {
    color: #ed865d !important;
}

.MuiStepIcon-text{
    color: #eee !important;
}

.MuiPaper-root {
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0, 1.04, 1, -0.49) 0ms;
    background-color: rgba(255, 255, 255, 0) !important;
}

.MuiStepConnector-line{
    height: 0px !important;
    color: linear-gradient(to left, #ed865d, #f197bd ) !important;
}

.MuiStepIcon-active{
    color: #b83b5e
    !important;
}

.footerQuestions{
    margin-top: 120px !important;
    direction: rtl !important;

    img{
        margin-top: 50px !important;
    }
}

.MuiStepIcon-text{
    background-color: rgb(255, 255, 0) !important;
}




@media (max-width: 575.98px) { 
    .footerQuestions{
        margin-top: -30px !important;
        img{
            margin-top: 0px !important;
        }
    }
    .MuiPaper-root{
        max-width: 100vw !important;  
    }
    .MuiStep-root{
        margin: 0px 2px !important;
    }
}
