.StartBtn {
    width: 170px;
    height: 60px;
    border-radius: 44px;
    // border-style: solid;
    // border-width: 5px;
    // border-image-source: linear-gradient(to right, #9c9c9c54 0%, var(--faded-orange-10) 100%);
    background-image: linear-gradient(to left, #ed865d, #f197bd );
    // background-origin: border-box;
    // background-clip: content-box, border-box;
    font-family: Yekan !important;
    font-size: 25px;
    margin-bottom: 100px !important;
    margin-top: 25px !important;
}

.titleStart{
    margin-top: 80px !important;
    font-size: 36px !important;
    font-weight: 600;   
}

@media (max-width: 767.98px) { 
    .StartBtn{
        margin-bottom: 120px !important ;
    }  
    
    .titleStart{
        font-size: 25px !important;
        padding: 0px 40px !important;
    }
}
