.swallyLable {
    width: 89px;
    // height: 47px;
    background-image: linear-gradient(to left, #b83b5e , #ef895d );
    border-radius: 25px 12px 12px 12px;
    color: white;
    font-family: SignPainter HouseScript Regular;
    font-size: 34px;
}

.powered{
    font-size: 31px;
    font-weight: 500;
    // font-family: Yekan;
}

.poweredByStart{
    margin-top: 100px ;
}

.aboutPower{
    font-size: 15px !important;
    font-family: Yekan !important;
    margin-top: 8px;
    font-weight: 500;
}

@media (max-width: 575.98px) { 
    .poweredByStart{
        margin-top: 30px !important;
    }  
}