body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Yekan !important;
}
*{
  overflow: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: YekanBakh;
  src: url('./fonts/YekanBakhMedium.woff') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Yekan;
  src: url('./fonts/Yekan.ttf') format('truetype');
  font-weight: normal;
}

